BD_NOMBRE= nombre_base_de_datos
BD_USUARIO= usuario_base_de_datos
BD_CLAVE= contraseña_base_de_datos
BD_DIALEC= 'tipo_de_base_de_datos (mariadb o mysql)''
BD_HOST= dirección_host_base_de_datos
BD_PORT= puerto_base_de_datos

JWT_SECRET= 'clave_secreta_para_jwt'